<div class="container">
  <h1>NutriMarket</h1>
  <form class="login" [formGroup]="formLogin" (submit)="login($event)">
    <div class="login__email">
      <label for="">Usuerio</label>
      <app-sh-input formControlName="user" [type]="'text'"></app-sh-input>

      @if (formLogin.controls['user'].errors?.['required'] &&
      formLogin.controls['user'].touched) {

      <small class="error-field">Este campo es obligatorio</small>

      }
    </div>

    <div class="login__password">
      <label for="">Password</label>
      <app-sh-input
        [type]="'password'"
        formControlName="password"
      ></app-sh-input>

      @if (formLogin.controls['password'].errors?.['required'] &&
      formLogin.controls['password'].touched) {

      <small class="error-field">Este campo es obligatorio</small>
      }
    </div>
    <app-sh-button [disabled]="formLogin.invalid && formLogin.touched">Ingresar</app-sh-button>
  </form>
</div>
